<p appDerct appearance="warning">Greg going to ffff</p>
<p [appAttribute]="attrbutes">Start editing to see some magic happen :)</p>

<app-card
  name="Name"
  number="0000000000000000"
  amount="4989,33₽"
  expirationDate="02/33"
  paymentSystem="mastercard"
></app-card>












<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport"-->
<!--        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--  <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--  <title>Document</title>-->
<!--</head>-->
<!--<body>-->
<!--<app-card-->
<!--  name="some card name"-->
<!--  number="0000 0000 0000 0000"-->
<!--  amount="4989,33₽"-->
<!--  expirationDate="02/33"-->
<!--  paymentSystem="visa">-->
<!--</app-card>-->

<!--</body>-->
<!--</html>-->
